/*#FCAA44*/
/*#4E5474*/
/*#332824*/
/*GENERAL*/
nav{
    background-color: transparent;
    padding: 20px;
}

*{
    padding: 0%;
    margin: 0%;

}
#back{
    height: 100%;
    width: 100%;
}
/*nav*/
.navbar-brand{
    margin-left: 50px;

}
.navbar-nav{
    padding-right: 50px;
}
.navbar-toggler{
    margin-right: 30px;

}
/*first*/
.title1{
    font-size: 65px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #85EBF9 2px solid;
    border-radius:5% ;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 250px;
    color: #F5FDFF;
    box-shadow: #F5FDFF 2px 2px 2px 2px;
    left: 125px;
}
.first{
    background-image: url(../assets/back.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
}
.first_buttons{
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    align-items: flex-start;
    width: 500px;
    position: absolute;
    flex-direction: column;
    top: 470px;
    left: 115px;
    padding: 20px;
}
.first_a{
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    align-items: flex-start;
    width: 500px;
    position: absolute;
    bottom: 10px;
    left: 800px;
    padding: 20px; 
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F5FDFF;
}
.logo_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid transparent;
}
.logo_img:hover{
    border: 3px solid #85EBF9;
    transition: 0.5s;
}
.f_buttons{
    width: 100px;
    height: 50px;
    border-radius: 15%;
    background-color: transparent;
    padding: 10px;
    color: #F5FDFF;
    border: 3px solid #85EBF9;
    font-family: Roboto;
    box-shadow: #F5FDFF 1px 1px 1px 1px;
}
.f_buttons:hover{
    background-color: #F5FDFF;
    color: #073255;
    transition: 1s;
    border: 3px solid transparent;    
}
/*main*/
#principal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-top: #F5FDFF 3px solid;
    height: 550px;
    background: linear-gradient(to bottom, #236C99, #073255);
}
.principal_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    width: 50%;
}
.principal_div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;

}
.principal_div_p{
    font-size: 20px;
    color: #F5FDFF;
    font-family: Roboto;
}
.title{
    font-size: 40px;
    text-align: center;
    color: #F5FDFF;
    font-family: Roboto;

}
.profile_pic{
    border-radius: 50%;
    border: 3px solid #F5FDFF;
    width: 200px;
    height: 200px;
    filter: sepia(1);
}
.profile_pic:hover{
    filter: sepia(0);
    box-shadow: #85EBF9 3px 3px 3px 3px;
    transition: 0.6s;
}
/*seccard (main)*/
.skills{
    padding: 40px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border-top: 1px solid #85EBF9;
    background: linear-gradient(to bottom, #073255, #000000);
}
.skills_img{
    width: 350px;
    height: 350px;
    border: 3px solid #F5FDFF;
}
.skills_li{
    color: #F5FDFF;
    font-size: 20px;
    font-family: Roboto ;
}
.skills_h2{
    font-size: 30px;
    font-family: Roboto ;
    color: #F5FDFF;
}
.skills_h3{
    color: #F5FDFF;
    font-family: Roboto ;
    font-size: 25px;
}
/*Content*/
.content{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 3px  double #073255;
    padding: 20px;
}
.content1{
    background: linear-gradient(to bottom, #0D161D, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 3px  double #F5FDFF;
    padding: 20px;
}
.content_div{
    display: flex;
    align-items: initial;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 270px;
    padding: 15px;
    gap: 15px;
}
.content_li{
    color: #073255;   
    padding: 5px;
    list-style-type:armenian;
}
.content_a:hover{
    border-bottom: 1px solid #85EBF9 ;
}
.title3{
    font-size: 25px;
    color: #073255;
    font-family: Roboto;
}
.content_a{
    color: #F5FDFF;
    text-decoration: none;
    border-bottom: 1px solid transparent ;
}
.footer_img{
    width: 200px;
    height: 150px;
    filter: blur(1px);
    border: #073255 2px solid;
}
.content_div1{
    display: flex;
    align-items: initial;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 270px;
    padding: 15px;
}
.content_div1_p{
    font-size: 10px;
    color: #F5FDFF;
    font-family: Roboto;
}
/*contact*/
.first1{
    background-image: url(../assets/services.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}

/*services*/
.first2{
    background-image: url(../assets/contact_back.jpg);
    width: 100%;
    height: 1000px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



/*Media*/ 
@media only screen and (max-width:1315px) {
/*Media for first Sector*/
.title1{
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #85EBF9 2px solid;
    border-radius:5% ;
    padding: 15px;
    position: absolute;
    z-index: 1;
    top: 250px;
    color: #F5FDFF;
    box-shadow: #F5FDFF 2px 2px 2px 2px;
    left: 105px;
}
.first_buttons{
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    align-items: flex-start;
    width: 500px;
    position: absolute;
    flex-direction: column;
    top: 470px;
    left: 115px;
    padding: 20px;
}
.f_buttons{
    width: 80px;
    height: 50px;
    border-radius: 15%;
    background-color: transparent;
    padding: 10px;
    color: #F5FDFF;
    border: 3px solid #85EBF9;
    font-family: Roboto;
    box-shadow: #F5FDFF 1px 1px 1px 1px;

}
.first_a{
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    align-items: flex-start;
    width: 500px;
    position: absolute;
    bottom: 10px;
    left: 600px;
    padding: 20px; 
}
}
@media only screen and (max-width:850px) {
/*Media for First*/
.first_a{
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    align-items: flex-start;
    width: 500px;
    position: absolute;
    bottom: 10px;
    left: 400px;
    padding: 20px; 
}
/*Media Main*/
#principal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-top: #F5FDFF 3px solid;
    height: 750px;
    background: linear-gradient(to bottom, #236C99, #073255);
}
.skills{
    padding: 40px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border-top: 1px solid #85EBF9;
    background: linear-gradient(to bottom, #073255, #000000);
}
.skills_img{
    width: 250px;
    height: 250px;
    border: 3px solid #F5FDFF;
    margin: 25px;
}
.content{
    background-color: #000000;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-top: 3px  double #073255;
}
.content_div1{
    display: flex;
    align-items: initial;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 270px;
    padding: 15px;
}
}
@media only screen and (max-width:630px) {
    nav{
        background-color: #073255;
        border-bottom: 1px solid #F5FDFF;

    }
    .navbar-brand{
        margin: 0;
    }
    .first_buttons{
        display: flex;
        justify-content:flex-start;
        gap: 15px;
        align-items: flex-start;
        width: 0;
        position: absolute;
        top: 370px;
        left: 30px;
        padding: 20px;
    }
    .title1{
        font-size: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: #85EBF9 2px solid;
        border-radius:5% ;
        padding: 15px;
        position: absolute;
        z-index: 1;
        top: 200px;
        color: #F5FDFF;
        box-shadow: #F5FDFF 2px 2px 2px 2px;
        left: 20px;
        background-color: #073255;

    }
    .f_buttons{
        width: 80px;
        height: 50px;
        border-radius: 15%;
        background-color: transparent;
        padding: 10px;
        color: #F5FDFF;
        border: 3px solid #85EBF9;
        font-family: Roboto;
        box-shadow: #F5FDFF 1px 1px 1px 1px;
        background-color: #073255;
    }
    .first_a{
        display: flex;
        justify-content:flex-start;
        gap: 15px;
        align-items: flex-start;
        width: 0;
        position: absolute;
        bottom: 50px;
        left: 50px;
        padding: 20px; 
    }
    .principal_div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        width: auto;
    }
    .principal_div1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: auto;
    }
    .content{
        background-color: #000000;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        border-top: 3px  double #073255;
    }
}